<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	
	xsi:schemaLocation="   
    http://www.springframework.org/schema/beans    
    http://www.springframework.org/schema/beans/spring-beans.xsd

    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd">

<!-- 	xmlns:task="http://www.springframework.org/schema/task"
	
	    http://www.springframework.org/schema/task  
    http://www.springframework.org/schema/task/spring-task-3.0.xsd    -->
	
	
	<!--定时任务 用与定时更新socket服务端ip -->
	<!-- <task:scheduler id="socketIPTask" pool-size="1" />
	<task:scheduled-tasks scheduler="socketIPTask">
		<task:scheduled ref="filelogHostGet" method="updateHostIp"
			cron="0/10 * * * * ?" />
	</task:scheduled-tasks>
	<bean id="filelogHostGet" class="com.ztesoft.fileManagerClt.FilelogHostGet" /> -->

	<!--<bean id="asynSocketTemplate" class="com.ztesoft.socketClt.AsynSocketTemplate" init-method="init"  destroy-method="close">
		<property name="zkAddress">
			<value><![CDATA[localhost:2181]]></value>
		</property>
		<property name="sessionTimeOutMs">
			<value>10000</value>
		</property>
		<property name="conectTimeOut">
			<value>10000</value>
		</property>
	</bean> -->

	<context:component-scan base-package="com.ztesoft"/>

	 <!--数据库连接池  -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value><![CDATA[com.mysql.jdbc.Driver]]></value>
		</property>
		<property name="url">
			<!--<value><![CDATA[jdbc:mysql://localhost:8888/fileserverinfo?autoReconnect=true&useUnicode=true&noAccessToProcedureBodies=true&characterEncoding=utf8]]></value> 
-->			<value><![CDATA[jdbc:mysql://127.0.0.1:8888/iom_zj?autoReconnect=true&useUnicode=true&noAccessToProcedureBodies=true&characterEncoding=utf8]]></value>
		</property>
		<property name="username">
			<value><![CDATA[root]]></value>
		</property>
		<property name="password">
			<value><![CDATA[bobping]]></value>
		</property>
		<property name="initialSize">
			<value>2</value>
		</property>
		<property name="maxActive">
			<value>2</value>
		</property>
		<property name="maxIdle">
			<value>2</value>
		</property>
		<property name="minIdle">
			<value>1</value>
		</property>
		<property name="maxWait">
			<value>60000</value>
		</property>
		<property name="validationQuery" value="SELECT 1 FROM DUAL" />
		<property name="minEvictableIdleTimeMillis">
			<value>300000</value>
		</property>
		<property name="timeBetweenEvictionRunsMillis">
			<value>200000</value>
		</property>
		<property name="poolPreparedStatements">
			<value>true</value>
		</property>
		<property name="removeAbandoned">
			<value>true</value>
		</property>
		<property name="removeAbandonedTimeout">
			<value>180</value>
		</property>
		<property name="testOnBorrow">
			<value>true</value>
		</property>
		<property name="testOnReturn">
			<value>true</value>
		</property>
		<property name="testWhileIdle">
			<value>true</value>
		</property>
	</bean>
	

</beans>